## Table of contents:
* [Part 1: Scrape ticker list from Wikipedia](#part-1)
* [Part 2: Exploring data from Wharton Data Research Services](#part-2)

## Part 1: scrape ticker list from Wikipedia <a class="anchor" id="part-1"></a>

In [158]:
# Sagar Setru
# July 1 2020
# side project: predict stock price gains from company financials

# part 1) get list of companies in S and P 500
import requests
from urllib.request import urlopen
from bs4 import BeautifulSoup

# URL from which to scrape
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

# get HTML data from URL via requests
#stock_page = requests.get(url)

# get HTML data from URL vis urllib
stock_page = urlopen(url)

# store HTML in soup object (from reqeusts package)
#stock_page_soup = BeautifulSoup(page.content, 'html.parser')

# store HTML in soup object (from urllib package)
stock_page_soup = BeautifulSoup(stock_page, 'html.parser')

# quick save HTML to file for external viewing
#printToFile('stockPageHTML.txt',stock_page_view)

# find the table tag
stock_page_soup_table = stock_page_soup.find_all('table')

In [ ]:
# get descriptors of features from wharton research database

url_features = 'https://wrds-web.wharton.upenn.edu/wrds/ds/compd/funda/index.cfm?navId=83'
features_page = urlopen(url_features)
features_page_soup = BeautifulSoup(features_page, 'html.parser')
# featuresPage_soup

In [ ]:
# to look at data
import sys

def printToFile(filename,var_to_print):
    """
    quick function for printing variable to file
    printToFile(filename,var_to_print)
    """
    with open(filename,'w') as f:
        print(var_to_print, file=f)
    #...
#...
# print(printToFile.__doc__)
# print(stock_page)
# print(stock_page_soup_table)
# printToFile('stockPageTable.txt', stock_page_soup_table)

In [ ]:
# list for ticker symbols
tickers = []

# NOTE: following tutorial here: https://towardsdatascience.com/step-by-step-tutorial-web-scraping-wikipedia-with-beautifulsoup-48d7f2dfa52d

# print(len(stock_Page_soup_table))
# print(stock_page_soup_table[1])

# loop through tables identified
counter = -1
for table in stock_page_soup_table:
    counter += 1
    
    # only work on first table; second table is for changes to s and p index
    if counter == 0 :
        rows = table.find_all('tr')

        for row in rows:
            cells = row.find_all('td')

            if len(cells) > 1:
                ticker = cells[0]
                tickers.append(ticker.text.strip())

            #...
        #...
    #...
#...

# printToFile('tickerSymbolsForSNP500.txt',tickers)
# for ticker in tickers:
#     print(ticker)
# print(counter)
# print(tickers)
# len(tickers)

## Part 2: exploring data from Wharton Data Research Services <a class="anchor" id="part-2"></a>

In [1]:
# part 2) explore data queried from wharton data research services
import pandas as pd

# load csv file from wharton data research services for all company financials
company_financials = pd.read_csv('companyFinancials.csv')

# DtypeWarning: Columns (26,30,958,969,970) have mixed types.

# get unique gvkeys to ID each company (for accessing financial ratios for firms on WRD)
gvkeys = company_financials.gvkey.unique()
# print(len(gvkeys))
# for gvkey in gvkeys:
#     print(gvkey)
#...

/Users/sagarsetru/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (26,30,958,969,970) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [209]:
# print('Variable names of features in company financials data frame')
# company_financials.columns
# for col in company_financials.columns:
#     print(col)

In [2]:
# load csv files from wharton data research services for financial ratios for firms
company_ratios = pd.read_csv('companyRatios.csv')

In [3]:
# load csv file from wharton data research services for monthly stock prices
company_prices = pd.read_csv('companyStockPrices.csv')
# company_prices_2 = pd.read_csv('companyStockPrices_2.csv')
print(company_prices.shape)
# print(company_prices_2.shape)

# remove rows with nan values
company_prices = company_prices[company_prices['COMNAM'].notna()]


# DtypeWarning: Columns (5,9) have mixed types

/Users/sagarsetru/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(259701, 64)

In [4]:
# company_financials.columns
print('column names for ratios df')
company_ratios.columns

column names for ratios df

Index(['gvkey', 'adate', 'qdate', 'public_date', 'CAPEI', 'bm', 'evm',
       'pe_op_basic', 'pe_op_dil', 'pe_exi', 'pe_inc', 'ps', 'pcf', 'dpr',
       'npm', 'opmbd', 'opmad', 'gpm', 'ptpm', 'cfm', 'roa', 'roe', 'roce',
       'efftax', 'aftret_eq', 'aftret_invcapx', 'aftret_equity', 'pretret_noa',
       'pretret_earnat', 'GProf', 'equity_invcap', 'debt_invcap',
       'totdebt_invcap', 'capital_ratio', 'int_debt', 'int_totdebt', 'cash_lt',
       'invt_act', 'rect_act', 'debt_at', 'debt_ebitda', 'short_debt',
       'curr_debt', 'lt_debt', 'profit_lct', 'ocf_lct', 'cash_debt', 'fcf_ocf',
       'lt_ppent', 'dltt_be', 'debt_assets', 'debt_capital', 'de_ratio',
       'intcov', 'intcov_ratio', 'cash_ratio', 'quick_ratio', 'curr_ratio',
       'cash_conversion', 'inv_turn', 'at_turn', 'rect_turn', 'pay_turn',
       'sale_invcap', 'sale_equity', 'sale_nwc', 'rd_sale', 'adv_sale',
       'staff_sale', 'accrual', 'ptb', 'PEG_trailing', 'divyield',
       'PEG_1yrforward', 'PEG_ltgforward'],
      dtype='object')

In [150]:
print('column names for prices df')
company_prices.columns

Index(['PERMNO', 'date', 'NAMEENDT', 'SHRCD', 'EXCHCD', 'SICCD', 'NCUSIP',
       'TICKER', 'COMNAM', 'SHRCLS', 'TSYMBOL', 'NAICS', 'PRIMEXCH', 'TRDSTAT',
       'SECSTAT', 'PERMCO', 'ISSUNO', 'HEXCD', 'HSICCD', 'CUSIP', 'DCLRDT',
       'DLAMT', 'DLPDT', 'DLSTCD', 'NEXTDT', 'PAYDT', 'RCRDDT', 'SHRFLG',
       'HSICMG', 'HSICIG', 'DISTCD', 'DIVAMT', 'FACPR', 'FACSHR', 'ACPERM',
       'ACCOMP', 'SHRENDDT', 'NWPERM', 'DLRETX', 'DLPRC', 'DLRET', 'TRTSCD',
       'NMSIND', 'MMCNT', 'NSDINX', 'BIDLO', 'ASKHI', 'PRC', 'VOL', 'RET',
       'BID', 'ASK', 'SHROUT', 'CFACPR', 'CFACSHR', 'ALTPRC', 'SPREAD',
       'ALTPRCDT', 'RETX', 'vwretd', 'vwretx', 'ewretd', 'ewretx', 'sprtrn'],
      dtype='object')

In [153]:
print('company name, stock price close annual, Debt due in one year, fiscal year')
company_financials[['conm', 'prcc_c', 'dd1', 'fyear']] #,companyFinancials.conm,companyFinancials.fyear]

company name, stock price close annual, Debt due in one year, fiscal year

                               conm    prcc_c        dd1   fyear
0       AMERICAN AIRLINES GROUP INC   13.7500      0.000  1950.0
1       AMERICAN AIRLINES GROUP INC   16.8750      0.000  1951.0
2       AMERICAN AIRLINES GROUP INC   14.7500      0.000  1952.0
3       AMERICAN AIRLINES GROUP INC   11.3750      0.000  1953.0
4       AMERICAN AIRLINES GROUP INC   22.3750      0.000  1954.0
5       AMERICAN AIRLINES GROUP INC   24.0000      0.000  1955.0
6       AMERICAN AIRLINES GROUP INC   23.3750      0.000  1956.0
7       AMERICAN AIRLINES GROUP INC   14.1250      0.000  1957.0
8       AMERICAN AIRLINES GROUP INC   24.2500      0.000  1958.0
9       AMERICAN AIRLINES GROUP INC   25.2500      0.000  1959.0
10      AMERICAN AIRLINES GROUP INC   21.5000      0.000  1960.0
11      AMERICAN AIRLINES GROUP INC   22.2500      0.000  1961.0
12      AMERICAN AIRLINES GROUP INC   18.3749        NaN  1962.0
13      AMERICAN AIRLINES GROUP INC   34.5000     28.583  1963.0
14      AMERICAN AIRLINES GROUP INC   44.7500      0.000  1964.0
15      AMERICAN AIRLINES GROUP INC   61.1300     19.687  1965.0
16      AMERICAN AIRLINES GROUP INC   69.0000      9.269  1966.0
17      AMERICAN AIRLINES GROUP INC   33.7500     13.140  1967.0
18      AMERICAN AIRLINES GROUP INC   35.0000     13.385  1968.0
19      AMERICAN AIRLINES GROUP INC   30.7500     18.552  1969.0
20      AMERICAN AIRLINES GROUP INC   22.5000     19.171  1970.0
21      AMERICAN AIRLINES GROUP INC   40.7500     30.949  1971.0
22      AMERICAN AIRLINES GROUP INC   25.1250     32.290  1972.0
23      AMERICAN AIRLINES GROUP INC    8.6250     28.287  1973.0
24      AMERICAN AIRLINES GROUP INC    5.1250     28.075  1974.0
25      AMERICAN AIRLINES GROUP INC    8.8750     22.710  1975.0
26      AMERICAN AIRLINES GROUP INC   13.5000     20.210  1976.0
27      AMERICAN AIRLINES GROUP INC   10.6250     29.209  1977.0
28      AMERICAN AIRLINES GROUP INC   13.2500     75.477  1978.0
29      AMERICAN AIRLINES GROUP INC   10.1250     89.892  1979.0
...                             ...       ...        ...     ...
22925                CBRE GROUP INC   31.4900      4.527  2016.0
22926                CBRE GROUP INC   31.4900      4.527  2016.0
22927                CBRE GROUP INC   43.3100      3.955  2017.0
22928                CBRE GROUP INC   43.3100      3.955  2017.0
22929                CBRE GROUP INC   40.0400      6.242  2018.0
22930                CBRE GROUP INC   40.0400      6.242  2018.0
22931                CBRE GROUP INC   61.2900    212.216  2019.0
22932                CBRE GROUP INC   61.2900    212.216  2019.0
22933  LYONDELLBASELL INDUSTRIES NV       NaN  22891.000  2008.0
22934  LYONDELLBASELL INDUSTRIES NV       NaN    497.000  2009.0
22935  LYONDELLBASELL INDUSTRIES NV   34.4000      4.000  2010.0
22936  LYONDELLBASELL INDUSTRIES NV   32.4900      4.000  2011.0
22937  LYONDELLBASELL INDUSTRIES NV   57.0900      1.000  2012.0
22938  LYONDELLBASELL INDUSTRIES NV   80.2800      1.000  2013.0
22939  LYONDELLBASELL INDUSTRIES NV   79.3900      4.000  2014.0
22940  LYONDELLBASELL INDUSTRIES NV   86.9000      4.000  2015.0
22941  LYONDELLBASELL INDUSTRIES NV   85.7800      2.000  2016.0
22942  LYONDELLBASELL INDUSTRIES NV  110.3200      2.000  2017.0
22943  LYONDELLBASELL INDUSTRIES NV   83.1600      5.000  2018.0
22944  LYONDELLBASELL INDUSTRIES NV   94.4800    276.000  2019.0
22945                  ALLEGION PLC       NaN        NaN  2010.0
22946                  ALLEGION PLC       NaN      1.400  2011.0
22947                  ALLEGION PLC       NaN      0.900  2012.0
22948                  ALLEGION PLC   44.1900     30.000  2013.0
22949                  ALLEGION PLC   55.4600      0.000  2014.0
22950                  ALLEGION PLC   65.9200      0.000  2015.0
22951                  ALLEGION PLC   64.0000     48.200  2016.0
22952                  ALLEGION PLC   79.5600     35.000  2017.0
22953                  ALLEGION PLC   79.7100     35.300  2018.0
22954                  ALLEGION PLC  124.5400     25.900  2019.0

[22955 rows x 4 columns]

In [234]:
# check if company names are same in financials and stock prices data frames
stock_names_prices_df = company_prices.TICKER.unique()
# print(stock_names_prices_df)
# print(' ')
stock_names_financials_df = company_financials.conm.unique()
# print(sorted(stock_names_financials_df))

stock_gvkeys_ratios_df = company_ratios.gvkey.unique()
print('n companies in prices df:', len(stock_names_prices_df))
print('n companies in financials df:', len(stock_names_financials_df))
print('n companies in ratios df:', len(stock_gvkeys_ratios_df))

# test = [stock_names_prices_df == stock_names_financials_df]

n companies in prices df: 978
n companies in financials df: 500
n companies in ratios df: 460

In [188]:
company_prices[company_prices['COMNAM'].notna()].shape

(259116, 64)

In [189]:
company_prices.shape

(259701, 64)

In [237]:
company_ratios['cash_ratio']

0         0.494
1         0.337
2         0.337
3         0.337
4         0.337
5         0.337
6         0.337
7         0.337
8         0.337
9         0.337
10        0.337
11        0.337
12        0.337
13        0.130
14        0.130
15        0.130
16        0.130
17        0.130
18        0.130
19        0.130
20        0.130
21        0.130
22        0.130
23        0.130
24        0.130
25        0.186
26        0.186
27        0.186
28        0.186
29        0.186
          ...
186359    0.150
186360    0.156
186361    0.156
186362    0.156
186363    0.188
186364    0.188
186365    0.188
186366    0.179
186367    0.179
186368    0.179
186369    0.179
186370    0.179
186371    0.179
186372    0.164
186373    0.164
186374    0.164
186375    0.137
186376    0.137
186377    0.137
186378    0.149
186379    0.149
186380    0.149
186381    0.123
186382    0.123
186383    0.123
186384    0.120
186385    0.120
186386    0.120
186387    0.121
186388    0.121
Name: cash_ratio, Length: 186389, dtype: float64