## Table of contents:
* [Part 1: Scrape ticker list from Wikipedia](#part-1)
* [Part 2: Exploring data from Wharton Data Research Services](#part-2)

## Part 1: scrape ticker list from Wikipedia <a class="anchor" id="part-1"></a>

In [16]:
# Sagar Setru
# July 1 2020
# side project: predict stock price gains from company financials

# part 1) get list of companies in S and P 500
import requests
from urllib.request import urlopen
from bs4 import BeautifulSoup

# URL from which to scrape
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

# get HTML data from URL via requests
#stock_page = requests.get(url)

# get HTML data from URL vis urllib
stock_page = urlopen(url)

# store HTML in soup object (from reqeusts package)
#stock_page_soup = BeautifulSoup(page.content, 'html.parser')

# store HTML in soup object (from urllib package)
stock_page_soup = BeautifulSoup(stock_page, 'html.parser')

# quick save HTML to file for external viewing
#printToFile('stockPageHTML.txt',stock_page_view)

# find the table tag
stock_page_soup_table = stock_page_soup.find_all('table')

In [2]:
# get descriptors of features from wharton research database

url_features = 'https://wrds-web.wharton.upenn.edu/wrds/ds/compd/funda/index.cfm?navId=83'
features_page = urlopen(url_features)
features_page_soup = BeautifulSoup(features_page, 'html.parser')
# featuresPage_soup

In [3]:
# to look at data
import sys

def printToFile(filename,var_to_print):
    """
    quick function for printing variable to file
    printToFile(filename,var_to_print)
    """
    with open(filename,'w') as f:
        print(var_to_print, file=f)
    #...
#...
# print(printToFile.__doc__)
# print(stock_page)
# print(stock_page_soup_table)
# printToFile('stockPageTable.txt', stock_page_soup_table)

In [4]:
# list for ticker symbols
tickers = []

# NOTE: following tutorial here: https://towardsdatascience.com/step-by-step-tutorial-web-scraping-wikipedia-with-beautifulsoup-48d7f2dfa52d

# print(len(stock_Page_soup_table))
# print(stock_page_soup_table[1])

# loop through tables identified
counter = -1
for table in stock_page_soup_table:
    counter += 1
    
    # only work on first table; second table is for changes to s and p index
    if counter == 0 :
        rows = table.find_all('tr')

        for row in rows:
            cells = row.find_all('td')

            if len(cells) > 1:
                ticker = cells[0]
                tickers.append(ticker.text.strip())

            #...
        #...
    #...
#...

# printToFile('tickerSymbolsForSNP500.txt',tickers)
# for ticker in tickers:
#     print(ticker)
# print(counter)
# print(tickers)
# len(tickers)

## Part 2: exploring data from Wharton Data Research Services <a class="anchor" id="part-2"></a>

In [17]:
# part 2) explore data queried from wharton data research services
import pandas as pd

# load csv file from wharton data research services for all company financials
company_financials = pd.read_csv('companyFinancials.csv')

# DtypeWarning: Columns (26,30,958,969,970) have mixed types.

# get unique gvkeys to ID each company (for accessing financial ratios for firms on WRD)
gvkeys = company_financials.gvkey.unique()
# print(len(gvkeys))
# for gvkey in gvkeys:
#     print(gvkey)
#...

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (26,30,958,969,970) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
# print('Variable names of features in company financials data frame')
# company_financials.columns
# for col in company_financials.columns:
#     print(col)

In [19]:
# load csv files from wharton data research services for financial ratios for firms
company_ratios = pd.read_csv('companyRatios.csv')

In [20]:
# load csv file from wharton data research services for monthly stock prices
company_prices = pd.read_csv('companyStockPrices.csv')
# company_prices_2 = pd.read_csv('companyStockPrices_2.csv')
print(company_prices.shape)
# print(company_prices_2.shape)

# remove rows with nan values
company_prices = company_prices[company_prices['COMNAM'].notna()]


# DtypeWarning: Columns (5,9) have mixed types

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(259701, 64)

In [22]:
# company_financials.columns
print('column names for ratios df')
company_ratios.columns

column names for ratios df

Index(['gvkey', 'adate', 'qdate', 'public_date', 'CAPEI', 'bm', 'evm',
       'pe_op_basic', 'pe_op_dil', 'pe_exi', 'pe_inc', 'ps', 'pcf', 'dpr',
       'npm', 'opmbd', 'opmad', 'gpm', 'ptpm', 'cfm', 'roa', 'roe', 'roce',
       'efftax', 'aftret_eq', 'aftret_invcapx', 'aftret_equity', 'pretret_noa',
       'pretret_earnat', 'GProf', 'equity_invcap', 'debt_invcap',
       'totdebt_invcap', 'capital_ratio', 'int_debt', 'int_totdebt', 'cash_lt',
       'invt_act', 'rect_act', 'debt_at', 'debt_ebitda', 'short_debt',
       'curr_debt', 'lt_debt', 'profit_lct', 'ocf_lct', 'cash_debt', 'fcf_ocf',
       'lt_ppent', 'dltt_be', 'debt_assets', 'debt_capital', 'de_ratio',
       'intcov', 'intcov_ratio', 'cash_ratio', 'quick_ratio', 'curr_ratio',
       'cash_conversion', 'inv_turn', 'at_turn', 'rect_turn', 'pay_turn',
       'sale_invcap', 'sale_equity', 'sale_nwc', 'rd_sale', 'adv_sale',
       'staff_sale', 'accrual', 'ptb', 'PEG_trailing', 'divyield',
       'PEG_1yrforward', 'PEG_ltgforward'],
      dtype='object')

In [23]:
print('column names for prices df')
company_prices.columns

column names for prices df

Index(['PERMNO', 'date', 'NAMEENDT', 'SHRCD', 'EXCHCD', 'SICCD', 'NCUSIP',
       'TICKER', 'COMNAM', 'SHRCLS', 'TSYMBOL', 'NAICS', 'PRIMEXCH', 'TRDSTAT',
       'SECSTAT', 'PERMCO', 'ISSUNO', 'HEXCD', 'HSICCD', 'CUSIP', 'DCLRDT',
       'DLAMT', 'DLPDT', 'DLSTCD', 'NEXTDT', 'PAYDT', 'RCRDDT', 'SHRFLG',
       'HSICMG', 'HSICIG', 'DISTCD', 'DIVAMT', 'FACPR', 'FACSHR', 'ACPERM',
       'ACCOMP', 'SHRENDDT', 'NWPERM', 'DLRETX', 'DLPRC', 'DLRET', 'TRTSCD',
       'NMSIND', 'MMCNT', 'NSDINX', 'BIDLO', 'ASKHI', 'PRC', 'VOL', 'RET',
       'BID', 'ASK', 'SHROUT', 'CFACPR', 'CFACSHR', 'ALTPRC', 'SPREAD',
       'ALTPRCDT', 'RETX', 'vwretd', 'vwretx', 'ewretd', 'ewretx', 'sprtrn'],
      dtype='object')

In [24]:
print('company name, stock price close annual, Debt due in one year, fiscal year')
company_financials[['conm', 'prcc_c', 'dd1', 'fyear']] #,companyFinancials.conm,companyFinancials.fyear]

company name, stock price close annual, Debt due in one year, fiscal year

                              conm   prcc_c   dd1   fyear
0      AMERICAN AIRLINES GROUP INC   13.750   0.0  1950.0
1      AMERICAN AIRLINES GROUP INC   16.875   0.0  1951.0
2      AMERICAN AIRLINES GROUP INC   14.750   0.0  1952.0
3      AMERICAN AIRLINES GROUP INC   11.375   0.0  1953.0
4      AMERICAN AIRLINES GROUP INC   22.375   0.0  1954.0
...                            ...      ...   ...     ...
22950                 ALLEGION PLC   65.920   0.0  2015.0
22951                 ALLEGION PLC   64.000  48.2  2016.0
22952                 ALLEGION PLC   79.560  35.0  2017.0
22953                 ALLEGION PLC   79.710  35.3  2018.0
22954                 ALLEGION PLC  124.540  25.9  2019.0

[22955 rows x 4 columns]

In [25]:
# check if company names are same in financials and stock prices data frames
stock_names_prices_df = company_prices.TICKER.unique()
# print(stock_names_prices_df)
# print(' ')
stock_names_financials_df = company_financials.conm.unique()
# print(sorted(stock_names_financials_df))

stock_gvkeys_ratios_df = company_ratios.gvkey.unique()
print('n companies in prices df:', len(stock_names_prices_df))
print('n companies in financials df:', len(stock_names_financials_df))
print('n companies in ratios df:', len(stock_gvkeys_ratios_df))

# test = [stock_names_prices_df == stock_names_financials_df]

n companies in prices df: 978
n companies in financials df: 500
n companies in ratios df: 460

In [26]:
company_prices[company_prices['COMNAM'].notna()].shape

(259116, 64)

In [27]:
company_prices.shape

(259116, 64)

In [28]:
company_ratios['cash_ratio']

0         0.494
1         0.337
2         0.337
3         0.337
4         0.337
          ...
186384    0.120
186385    0.120
186386    0.120
186387    0.121
186388    0.121
Name: cash_ratio, Length: 186389, dtype: float64

In [29]:
company_financials.shape

(22955, 981)

In [19]:
print('andy is a small chungus')

andy is a small chungus